body {
  margin-top: 40px;
}

main header {
  margin-top: 50px;
  text-align: center;
}
main header h1 {
  font-size: 44px;
  margin-bottom: 3px;
}
main header h2 {
  font-size: 30px;
  margin: 0 0 40px;
}

section {
  padding-bottom:50px;
  min-height:100%;
  min-height:calc(100% - 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.iconlist {
  float: left;
  margin: 13.5px;
}

.iconlist span {
  font-size: 17px;
}

#menu {
  background-color: rgba(255,255,255,0.75);
}

#menu.grid>.row {
  padding: 0;
}

#mobile-menu a{
  margin: 5% auto;
  padding: 5% auto;
  color: #ffffff;
}

#intro img {
  width: 85%;
}

#map {
  width: 85%;
  height: 300px;
}

#site-title {
  font-size: 4.5em;
  letter-spacing: -3px;
  margin: 0px 0px 0.15em;
  transition: font-size 0s ease 0s, letter-spacing 0.5s ease-out 0s;
}


#site-description {
  font-size: 1.5em;
}

#banner {
  margin: 0px;
  position: relative;
  text-align: center;
  padding: 0px;
  background: rgba(0,0,0,0.4) center center url(../img/background.JPG);
  background-size: cover;
}

#banner .hgroup {
  padding: 70px;
  background-color: rgba(255, 255, 255, 0.65);
}

#footer {
  padding: 70px 0px 0px 0px;
}
