/*
 * Calendar
 */

.fc-time {
	// 隱藏行事曆的時間
	display: none;
}

#calendar {
	> .fc-toolbar {
		h2 {
			font-size: 1.5rem;
			margin: 1rem 0.5rem 0 0.5rem;
		}
	}
}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
	#calendar {
	  > .fc-toolbar {
			h2 {
				font-size: 1.5rem;
				line-height: 2.1rem;
				margin: auto;
			}
		}
		> .fc-header-toolbar {
			margin-bottom: 0.5rem;
		}
	}
}
@include media-breakpoint-up(xl) {}
