/*
 * Global variables
 */

body {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.external-link {
	&:after {
		font-family: FontAwesome;
		content: "\f08e";
		margin-left: 0.3rem;
	}
}
