/*
 * Brand
 */

.brand {
  &-title {
    font-size: 1.5rem;
  }
  &-subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }
}


@include media-breakpoint-up(sm) {
  .brand {
    &-title {
      font-size: 2rem;
    }
    &-subtitle {
      font-size: 1.5rem;
    }
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}

/*
 * Features
 */

.divider {
  margin: 3rem 0;
}

.feature {
  &-title {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  &-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }

  &-content {
    margin-top: 2rem;
  }

  &-more {
    font-size: 1.3rem;
    &-after {
      content: " »"
    }
  }

}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {
  .feature {
    &-content {
      margin-top: 1rem;
    }
  }
}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}

/*
 * Door Status
 */

.door {
  @extend .btn;
  &-loading {
    @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
  }

  &-open {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
  }

  &-close {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }

  &-error {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }

}

/*
 * Contact Information
 */

#map { height: 20rem; }

.contact-list {
  list-style: none;
  padding-left: 0;
  &-item {
    margin: 0.3rem 0;
  }
}

/*
 * Footer
 */

.back-to-top:before {
  font-family: FontAwesome;
  content: "\f0aa";
  padding-right: 0.2rem;
}
