<!-- Brand
================================================== -->

<section class="jumbotron jumbotron-fluid text-center">
  <div class="brand container">
    <h1 class="brand-title">創新自造者開放實驗室</h1>
    <p class="brand-subtitle">Makers' Open Lab for Innovation</p>
    <!--開關門狀態-->
    <p class="door door-loading text-center">偵測開門狀態...</p>
  </div>
</section>


<!-- Features
================================================== -->

<div class="container">

  <div class="latest-event latest-event-display row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">最新活動</div>
        <div class="card-block">
          <h4 class="latest-event-title card-title"></h4>
          <p class="latest-event-date card-text"></p>
          <p class="latest-event-summary card-text"></p>
          <a href="#" target="_blank" class="latest-event-link card-link">立即報名</a>
        </div>
      </div>
    </div>
  </div>


  <hr class="divider latest-event-display">

  <div class="feature row">
    <div class="feature-content">
      <h2 class="feature-title">// TODO</h2>
      <p class="text-muted">感覺還少了什麼...</p>
    </div>
  </div>

  <hr class="divider">

  <div class="feature row">
    <div class="col-md-5 push-md-7">
      <img class="feature-image img-fluid mx-auto" src="https://fakeimg.pl/600x400" alt="Generic placeholder image">
    </div>
    <div class="feature-content col-md-7 pull-md-5">
      <h2 class="feature-title">Maker Space</h2>
      <p class="feature-subtitle text-muted">我們熱愛創造！</p>
      <p class="feature-body">MOLi 是一個自造（Self-Making）空間，提供 3D 印表機、電路銲接設備、CNC 三軸雕刻機、各種開發版等設備。</p>
      <p class="text-center"><a class="feature-more" href="make" role="button">進一步了解</a></p>
    </div>
  </div>

  <hr class="divider">

  <div class="feature row">
    <div class="col-md-5 md-7">
      <img class="feature-image img-fluid mx-auto" src="https://fakeimg.pl/600x400" alt="Generic placeholder image">
    </div>
    <div class="feature-content col-md-7 md-5">
      <h2 class="feature-title">Open Lab</h2>
      <p class="feature-subtitle text-muted">我們忠於開源！</p>
      <p class="feature-body">MOLi 是由社群管理的開放實驗室，適合各領域的朋友一起討論、創造，只要喜愛創造、樂於分享，隨時歡迎。</p>
      <p class="text-center"><a class="feature-more" href="open" role="button">進一步了解</a></p>
    </div>
  </div>

  <hr class="divider">

  <div class="feature row">
    <div class="col-md-5 push-md-7">
      <img class="feature-image img-fluid mx-auto" src="https://fakeimg.pl/600x400" alt="Generic placeholder image">
    </div>
    <div class="feature-content col-md-7 pull-md-5">
      <h2 class="feature-title">Share Anything</h2>
      <p class="feature-subtitle text-muted">我們樂於分享！</p>
      <p class="feature-body">MOLi 鼓勵自發性的分享會、讀書會，以及實作工作坊，讓大家能夠分享自己所學，促進交流。</p>
      <p class="text-center"><a class="feature-more" href="share" role="button">進一步了解</a></p>
    </div>
  </div>

  <hr class="divider">

  <div class="feature row">
    <div class="col-md-7">
      <div id="map"></div>
      <i class="fa fa-hand-o-right" aria-hidden="true"></i> 使用 <a href="http://osm.org/go/5iarqEyaW?layers=ND&node=3680840001" target="_blank">OpenStreetMap</a> 或 <a href="https://www.google.com/maps?cid=13455914928326177954" target="_blank">Google Map</a> 檢視
    </div>

    <div class="feature-content col-md-5">
      <h2 class="feature-title">Get In Touch</h2>
      <p class="feature-subtitle text-muted">歡迎來坐</p>
      <ul class="contact-list">
        <li class="contact-list-item"><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="https://fb.com/MOLi.rocks" target="_blank">Facebook 粉絲專頁</a></li>
        <li class="contact-list-item"><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/moli-rocks" target="_blank">GitHub Organization</a></li>
        <li class="contact-list-item"><i class="fa fa-telegram" aria-hidden="true"></i> <a href="https://t.me/MOLi_rocks" target="_blank">Telegram 聊天群組</a></li>
        <li class="contact-list-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> 54561 南投縣埔里鎮大學路470號管理學院237室</li>
      </ul>
      <p class="door door-loading text-center">偵測開門狀態...</p>
    </div>
  </div>

  <hr class="divider">

</div>
