<!-- Brand
================================================== -->

<section class="jumbotron jumbotron-fluid text-center">
  <div class="brand container">
    <h1 class="brand-title">創新自造者開放實驗室</h1>
    <p class="brand-subtitle">Makers' Open Lab for Innovation</p>
    <!--開關門狀態-->
    <p><a class="door btn btn-secondary" href="#" role="button">開門中</a></p>
  </div>
</section>


<!-- Features
================================================== -->

<div class="container">

  <div class="feature row">
    <div class="col-md-5 push-md-7">
      <img class="feature-image img-fluid mx-auto" src="http://fakeimg.pl/600x400" alt="Generic placeholder image">
    </div>
    <div class="feature-content col-md-7 pull-md-5">
      <h2 class="feature-title">Maker Space</h2>
      <p class="feature-subtitle text-muted">我們熱愛創造！</p>
      <p class="feature-body">MOLi 是一個自造（Self-Making）空間，提供 3D 印表機、電路銲接設備、CNC 三軸雕刻機、各種開發版等設備。</p>
      <p class="text-center"><a class="feature-more" href="make" role="button">進一步了解</a></p>
    </div>
  </div>

  <hr class="divider">

  <div class="feature row">
    <div class="col-md-5 md-7">
      <img class="feature-image img-fluid mx-auto" src="http://fakeimg.pl/600x400" alt="Generic placeholder image">
    </div>
    <div class="feature-content col-md-7 md-5">
      <h2 class="feature-title">Open Lab</h2>
      <p class="feature-subtitle text-muted">我們忠於開源！</p>
      <p class="feature-body">MOLi 是由社群管理的開放實驗室，適合各領域的朋友一起討論、創造，只要喜愛創造、樂於分享，隨時歡迎。</p>
      <p class="text-center"><a class="feature-more" href="open" role="button">進一步了解</a></p>
    </div>
  </div>

  <hr class="divider">

  <div class="feature row">
    <div class="col-md-5 push-md-7">
      <img class="feature-image img-fluid mx-auto" src="http://fakeimg.pl/600x400" alt="Generic placeholder image">
    </div>
    <div class="feature-content col-md-7 pull-md-5">
      <h2 class="feature-title">Share Anything</h2>
      <p class="feature-subtitle text-muted">我們樂於分享！</p>
      <p class="feature-body">MOLi 鼓勵自發性的分享會、讀書會，以及實作工作坊，讓大家能夠分享自己所學，促進交流。</p>
      <p class="text-center"><a class="feature-more" href="share" role="button">進一步了解</a></p>
    </div>
  </div>

  <hr class="divider">

</div>
