<footer class="container">
  <hr>
  <p class="back-to-top float-right"><a href="#">回頭是岸</a></p>
  <p><a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a> &copy; 2015-2017 MOLi</p>
</footer>
